# core
beautifulsoup4==4.14.2
playwright==1.55.0

# dev
black==25.9.0
commitizen==4.9.1
invoke==2.2.0
isort==6.1.0
mypy==1.18.2
pre-commit==4.4.0
ruff==0.13.3

# testing
faker==37.8.0
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-playwright==0.7.1
pytest-sugar==1.1.1
