# core
beautifulsoup4==4.9.3
grequests==0.6.0

# dev
black==21.5b2
commitizen==2.17.13
flake8==3.9.2
invoke==1.6.0
isort==5.9.3
mypy==0.910
pre-commit==2.14.1

# testing
faker==8.12.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-sugar==0.9.4
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
