# core
beautifulsoup4==4.9.3
grequests==0.6.0

# dev
black==25.9.0
commitizen==4.9.1
flake8==7.3.0
invoke==2.2.0
isort==6.0.1
mypy==1.18.2
pre-commit==4.3.0

# testing
faker==8.12.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-sugar==0.9.4
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
